@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none; }

textarea:focus, input:focus, input[type]:focus {
  border-color: #daa33e;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(218, 163, 62, 0.671);
  outline: 0 none; }

.my-buttons:hover {
  background-color: yellow !important;
  color: black !important;
  box-shadow: none !important;
  border-color: #daa33e !important; }

.my-buttons:active {
  background-color: yellow !important;
  color: black !important;
  box-shadow: none !important;
  border-color: #daa33e !important; }

.my-buttons:focus {
  background-color: yellow !important;
  color: black !important;
  box-shadow: none !important;
  border-color: #daa33e !important; }

.modal-button-img img:hover {
  box-shadow: 0px 0px 14px 0px;
  cursor: pointer; }

.main-screen-complete-page {
  height: calc(100vh - 243.3px); }

body header {
  position: sticky;
  top: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.578)), url(../img/slider2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 3; }
  body header nav .tale-container-fluid {
    display: flex;
    justify-content: space-between; }
    body header nav .tale-container-fluid .tale-navbar-logo .tale-navbar-brand img {
      width: 83%; }
    body header nav .tale-container-fluid .tale-navbar-logo .tale-navbar-button {
      border-color: #daa33e; }
      body header nav .tale-container-fluid .tale-navbar-logo .tale-navbar-button .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    body header nav .tale-container-fluid .navbar-dropdowns {
      display: flex;
      justify-content: center; }
      body header nav .tale-container-fluid .navbar-dropdowns .navbar-nav li {
        margin-right: 4rem;
        border: 1px solid;
        border-radius: 6px;
        border-color: #daa33e; }
        body header nav .tale-container-fluid .navbar-dropdowns .navbar-nav li .nav-dropdown-section {
          color: white !important; }
        body header nav .tale-container-fluid .navbar-dropdowns .navbar-nav li .dropdown-menu.show {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: rgba(241, 232, 242, 0.7);
          padding-left: 4rem; }
          body header nav .tale-container-fluid .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box {
            margin-top: 0.5rem; }
            body header nav .tale-container-fluid .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box .dropdown-item {
              color: white;
              background-color: #daa33e;
              text-align: center;
              margin: 1px solid; }
              body header nav .tale-container-fluid .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box .dropdown-item:active {
                background-color: yellow !important;
                color: black !important;
                box-shadow: none !important;
                border-color: #daa33e !important; }
              body header nav .tale-container-fluid .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box .dropdown-item:hover {
                background-color: yellow !important;
                color: black !important;
                box-shadow: none !important;
                border-color: #daa33e !important; }
    body header nav .tale-container-fluid .navbar-login .navbar-login-textbox {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      margin-bottom: 0.2rem;
      margin-top: -0.5rem; }
    body header nav .tale-container-fluid .navbar-login .navbar-login-buttons {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      margin-right: 0.8rem; }
      body header nav .tale-container-fluid .navbar-login .navbar-login-buttons button {
        margin-left: 0.2rem;
        background-color: #daa33e;
        color: white;
        border-color: #0c0c0d; }
    body header nav .tale-container-fluid .navbar-login .navbar-login-forgot {
      display: flex;
      justify-content: end;
      color: black; }
      body header nav .tale-container-fluid .navbar-login .navbar-login-forgot a {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
        margin-right: 0.8rem; }

footer section .footer-main-container {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.696), rgba(238, 234, 15, 0.288)), url(../img/slider2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: beige; }
  footer section .footer-main-container .footer-container-left .footer-container-left-img a img {
    height: 60px; }
  footer section .footer-main-container .footer-container-left .footer-container-left-img p {
    font-size: 10px; }
  footer section .footer-main-container .footer-container-right {
    margin-top: 15px;
    margin-right: 150px; }
    footer section .footer-main-container .footer-container-right a {
      margin-right: 30px;
      padding-left: 25px;
      color: beige;
      border-left: 2px beige solid; }

footer .scrolltotop {
  position: fixed;
  right: 3%;
  bottom: 3%; }
