@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
main .index-main-history-section .index-main-history-container .index-history-content-left, main .index-main-history-section .index-main-history-container .index-history-content-right, main .index-main-world-section .index-main-world-container .index-world-content-left, main .index-main-world-section .index-main-world-container .index-world-content-right, main .index-main-monster-section .index-main-monster-container .index-monster-content-left, main .index-main-monster-section .index-main-monster-container .index-monster-content-right, main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-left, main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right, body .main-screen-complete-page .about-main-section .about-main-container .about-container-left, body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button, main .heroes-main-section .grid-container .hero-hero .heroes-container-right, main .heroes-main-section .grid-container .hero-archmage .heroes-container-right, main .heroes-main-section .grid-container .hero-savior .heroes-container-right, main .heroes-main-section .grid-container .hero-windstalker .heroes-container-right, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .tale-modal-container div .modal-content .modal-header, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .tale-modal-container div .modal-content .modal-body, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .tale-modal-container div .modal-content .modal-header, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .tale-modal-container div .modal-content .modal-body, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .tale-modal-container div .modal-content .modal-header, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .tale-modal-container div .modal-content .modal-body, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .tale-modal-container div .modal-content .modal-header, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .tale-modal-container div .modal-content .modal-body, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .tale-modal-container div .modal-content .modal-header, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .tale-modal-container div .modal-content .modal-body, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .tale-modal-container div .modal-content .modal-header, main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .tale-modal-container div .modal-content .modal-body {
  display: flex;
  justify-content: center;
  align-items: center; }

main .index-main-history-section #history, main .index-main-world-section #world, main .index-main-monster-section #monsters, main .index-main-heroes-section #heroes, main .heroes-main-section .grid-container .hero-hero #hero, main .heroes-main-section .grid-container .hero-archmage #archmage, main .heroes-main-section .grid-container .hero-savior #savior, main .heroes-main-section .grid-container .hero-windstalker #windstalker {
  display: block;
  position: absolute;
  top: -152.04px;
  visibility: hidden; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none; }

textarea:focus, input:focus, input[type]:focus {
  border-color: #daa33e;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(218, 163, 62, 0.671);
  outline: 0 none; }

.main-screen-complete-page {
  height: calc(100vh - 243.3px); }

body header {
  position: sticky;
  top: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.578)), url(../img/slider2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 3; }
  body header nav .tale-container-fluid {
    display: flex;
    justify-content: space-between; }
    body header nav .tale-container-fluid .tale-navbar-logo .tale-navbar-brand img {
      width: 83%; }
    body header nav .tale-container-fluid .tale-navbar-logo .tale-navbar-button {
      border-color: #daa33e; }
      body header nav .tale-container-fluid .tale-navbar-logo .tale-navbar-button .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    body header nav .tale-container-fluid .navbar-login .navbar-login-textbox {
      display: flex;
      justify-content: end;
      align-items: end;
      flex-direction: column;
      margin-bottom: 0.2rem;
      margin-top: -0.5rem; }
    body header nav .tale-container-fluid .navbar-login .navbar-login-buttons {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: row;
      margin-right: 0.8rem; }
      body header nav .tale-container-fluid .navbar-login .navbar-login-buttons .my-buttons {
        margin-left: 0.2rem;
        background-color: #daa33e;
        color: white;
        border-color: #0c0c0d;
        transition: 1s; }
        body header nav .tale-container-fluid .navbar-login .navbar-login-buttons .my-buttons:hover {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important;
          transform: scale(1.05); }
        body header nav .tale-container-fluid .navbar-login .navbar-login-buttons .my-buttons:active {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important; }
        body header nav .tale-container-fluid .navbar-login .navbar-login-buttons .my-buttons:focus {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important; }
    body header nav .tale-container-fluid .navbar-login .navbar-login-forgot {
      display: flex;
      justify-content: end;
      color: black; }
      body header nav .tale-container-fluid .navbar-login .navbar-login-forgot a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin-right: 0.8rem; }

.navbar-dropdowns {
  display: flex;
  justify-content: center; }
  .navbar-dropdowns .navbar-nav li {
    margin-right: 4rem;
    border: 1px solid;
    border-radius: 6px;
    border-color: #daa33e; }
    .navbar-dropdowns .navbar-nav li .nav-dropdown-section {
      color: white !important; }
    .navbar-dropdowns .navbar-nav li .dropdown-menu.show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(241, 232, 242, 0.7);
      padding-left: 4rem; }
      .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box {
        margin-top: 0.5rem; }
        .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box .dropdown-item {
          color: white;
          background-color: #daa33e;
          text-align: center;
          margin: 1px solid;
          border-radius: 6px;
          transition: 1s; }
          .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box .dropdown-item:active {
            background-color: yellow !important;
            color: black !important;
            box-shadow: none !important;
            border-color: #daa33e !important; }
          .navbar-dropdowns .navbar-nav li .dropdown-menu.show .dropdown-menu-box .dropdown-item:hover {
            background-color: yellow !important;
            color: black !important;
            box-shadow: none !important;
            border-color: #daa33e !important;
            transform: scale(1.05);
            border-radius: 6px !important; }

main .index-main-history-section {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  main .index-main-history-section .index-main-history-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0)), url(../img/background-home-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex; }
    main .index-main-history-section .index-main-history-container .index-history-content-left {
      flex-direction: column;
      color: beige;
      font-size: 15px;
      padding-left: 20px; }
      main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-title {
        padding-top: 15px; }
      main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-text {
        font-size: 16px; }
      main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-video {
        padding-bottom: 15px; }
    main .index-main-history-section .index-main-history-container .index-history-content-right {
      width: 100%; }
      main .index-main-history-section .index-main-history-container .index-history-content-right img {
        width: 100%;
        transition: 1s; }
        main .index-main-history-section .index-main-history-container .index-history-content-right img:hover {
          transform: scale(1.05); }

main .index-main-world-section {
  position: relative; }
  main .index-main-world-section .index-main-world-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-world-001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex; }
    main .index-main-world-section .index-main-world-container .index-world-content-left {
      width: 100%; }
      main .index-main-world-section .index-main-world-container .index-world-content-left img {
        width: 100%;
        transition: 1s; }
        main .index-main-world-section .index-main-world-container .index-world-content-left img:hover {
          transform: scale(1.05); }
    main .index-main-world-section .index-main-world-container .index-world-content-right {
      flex-direction: column;
      flex-wrap: wrap;
      color: beige;
      font-size: 15px;
      margin-left: 20px;
      margin-right: 20px; }
      main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-title {
        padding-top: 15px; }
      main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-video {
        padding-bottom: 15px;
        margin-top: 50px; }

main .index-main-monster-section {
  position: relative; }
  main .index-main-monster-section .index-main-monster-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex; }
    main .index-main-monster-section .index-main-monster-container .index-monster-content-left {
      flex-direction: column;
      color: beige;
      font-size: 15px;
      margin-left: 20px;
      margin-right: 20px; }
      main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-title {
        padding-top: 15px; }
      main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-video {
        margin-top: 50px;
        padding-bottom: 15px; }
    main .index-main-monster-section .index-main-monster-container .index-monster-content-right {
      width: 100%; }
      main .index-main-monster-section .index-main-monster-container .index-monster-content-right img {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: 1s; }
        main .index-main-monster-section .index-main-monster-container .index-monster-content-right img:hover {
          transform: scale(1.05); }

main .index-main-heroes-section {
  position: relative; }
  main .index-main-heroes-section .index-main-heroes-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex; }
    main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-left {
      width: 100%; }
      main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-left img {
        width: 100%;
        transition: 1s; }
        main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-left img:hover {
          transform: scale(1.05); }
    main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right {
      flex-direction: column;
      color: beige;
      font-size: 15px;
      margin-left: 20px;
      margin-right: 20px; }
      main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-title {
        padding-top: 15px; }
      main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-video {
        padding-bottom: 15px;
        margin-top: 50px; }

body .main-screen-complete-page {
  height: calc(100vh - 243.3px); }
  body .main-screen-complete-page .about-main-section {
    height: 100%; }
    body .main-screen-complete-page .about-main-section .about-main-container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background01.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around; }
      body .main-screen-complete-page .about-main-section .about-main-container .about-container-left {
        flex-direction: column;
        color: beige;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px; }
        body .main-screen-complete-page .about-main-section .about-main-container .about-container-left .about-container-left-links {
          display: flex; }
          body .main-screen-complete-page .about-main-section .about-main-container .about-container-left .about-container-left-links a {
            margin-right: 25px;
            color: white;
            border: 2px white solid;
            padding: 5px; }
      body .main-screen-complete-page .about-main-section .about-main-container .about-container-right {
        display: flex;
        justify-content: center; }
        body .main-screen-complete-page .about-main-section .about-main-container .about-container-right img {
          width: 100%;
          object-fit: contain; }

body .main-screen-complete-page .sign-up-container {
  background-image: url(/img/laboom-elias.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%; }
  body .main-screen-complete-page .sign-up-container .sign-up-title-container {
    text-align: center;
    padding-top: 50px; }
    body .main-screen-complete-page .sign-up-container .sign-up-title-container .sign-up-title {
      text-align: center;
      color: white;
      background-color: #daa33e;
      border: 2px solid #daa33e; }
  body .main-screen-complete-page .sign-up-container .sign-up-subtitle-container {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px; }
    body .main-screen-complete-page .sign-up-container .sign-up-subtitle-container .sign-up-subtitle {
      text-align: center;
      color: white;
      background-color: rgba(218, 163, 62, 0.678);
      border-top: 2px solid #daa33e;
      border-bottom: 2px solid #daa33e;
      font-size: 20px; }
  body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form {
    display: block;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 55px;
    margin-left: auto;
    margin-right: auto; }
    body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .form-check-container .form-check {
      padding-top: 55px; }
    body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button {
      padding-top: 50px; }
      body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons {
        margin-left: 0.2rem;
        background-color: #daa33e;
        color: white;
        border-color: #0c0c0d;
        transition: 1s; }
        body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons:hover {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important;
          transform: scale(1.05); }
        body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons:active {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important; }
        body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons:focus {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important; }

.main-eula {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px; }

main .heroes-main-section .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "hero hero" "arch arch" "sav sav" "wind wind"; }
  main .heroes-main-section .grid-container .hero-hero {
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative; }
    main .heroes-main-section .grid-container .hero-hero .heroes-container-left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px; }
      main .heroes-main-section .grid-container .hero-hero .heroes-container-left .hero-img01 img {
        width: 75%;
        margin-left: 25px;
        margin-bottom: 10px;
        border: 1px solid white;
        border-radius: 10px; }
      main .heroes-main-section .grid-container .hero-hero .heroes-container-left .hero-img02 img {
        width: 100%;
        padding-top: 5px;
        border: 1px solid white;
        border-radius: 10px;
        transition: 1s; }
        main .heroes-main-section .grid-container .hero-hero .heroes-container-left .hero-img02 img:hover {
          transform: scale(1.05); }
    main .heroes-main-section .grid-container .hero-hero .heroes-container-right {
      width: 50%;
      flex-direction: column; }
      main .heroes-main-section .grid-container .hero-hero .heroes-container-right p {
        width: 100%;
        padding-bottom: 10px;
        padding-right: 30px;
        color: white; }
      main .heroes-main-section .grid-container .hero-hero .heroes-container-right iframe {
        padding-top: 10px; }
  main .heroes-main-section .grid-container .hero-archmage {
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: arch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative; }
    main .heroes-main-section .grid-container .hero-archmage .heroes-container-left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px; }
      main .heroes-main-section .grid-container .hero-archmage .heroes-container-left .archmage-img01 img {
        width: 75%;
        margin-left: 25px;
        margin-bottom: 10px;
        border: 1px solid white;
        border-radius: 10px; }
      main .heroes-main-section .grid-container .hero-archmage .heroes-container-left .archmage-img02 img {
        width: 100%;
        padding-top: 5px;
        border: 1px solid white;
        border-radius: 10px;
        transition: 1s; }
        main .heroes-main-section .grid-container .hero-archmage .heroes-container-left .archmage-img02 img:hover {
          transform: scale(1.05); }
    main .heroes-main-section .grid-container .hero-archmage .heroes-container-right {
      width: 50%;
      flex-direction: column; }
      main .heroes-main-section .grid-container .hero-archmage .heroes-container-right p {
        width: 100%;
        padding-bottom: 10px;
        padding-right: 30px;
        color: white; }
      main .heroes-main-section .grid-container .hero-archmage .heroes-container-right iframe {
        padding-top: 10px; }
  main .heroes-main-section .grid-container .hero-savior {
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: sav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative; }
    main .heroes-main-section .grid-container .hero-savior .heroes-container-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px; }
      main .heroes-main-section .grid-container .hero-savior .heroes-container-left .savior-img01 img {
        width: 75%;
        margin-left: 25px;
        margin-bottom: 10px;
        border: 1px solid white;
        border-radius: 10px; }
      main .heroes-main-section .grid-container .hero-savior .heroes-container-left .savior-img02 img {
        width: 100%;
        padding-top: 5px;
        border: 1px solid white;
        border-radius: 10px;
        transition: 1s; }
        main .heroes-main-section .grid-container .hero-savior .heroes-container-left .savior-img02 img:hover {
          transform: scale(1.05); }
    main .heroes-main-section .grid-container .hero-savior .heroes-container-right {
      width: 50%;
      flex-direction: column; }
      main .heroes-main-section .grid-container .hero-savior .heroes-container-right p {
        width: 100%;
        padding-bottom: 10px;
        padding-right: 30px;
        color: white; }
      main .heroes-main-section .grid-container .hero-savior .heroes-container-right iframe {
        padding-top: 10px; }
  main .heroes-main-section .grid-container .hero-windstalker {
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: wind;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative; }
    main .heroes-main-section .grid-container .hero-windstalker .heroes-container-left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px; }
      main .heroes-main-section .grid-container .hero-windstalker .heroes-container-left .windstalker-img01 img {
        width: 75%;
        margin-left: 25px;
        margin-bottom: 10px;
        border: 1px solid white;
        border-radius: 10px; }
      main .heroes-main-section .grid-container .hero-windstalker .heroes-container-left .windstalker-img02 img {
        width: 100%;
        padding-top: 5px;
        border: 1px solid white;
        border-radius: 10px;
        transition: 1s; }
        main .heroes-main-section .grid-container .hero-windstalker .heroes-container-left .windstalker-img02 img:hover {
          transform: scale(1.05); }
    main .heroes-main-section .grid-container .hero-windstalker .heroes-container-right {
      width: 50%;
      flex-direction: column; }
      main .heroes-main-section .grid-container .hero-windstalker .heroes-container-right p {
        width: 100%;
        padding-bottom: 10px;
        padding-right: 30px;
        color: white; }
      main .heroes-main-section .grid-container .hero-windstalker .heroes-container-right iframe {
        padding-top: 10px; }

main .news-main-container {
  background-image: url(../img/topbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center; }
  main .news-main-container .news-main-title {
    text-align: center;
    color: #daa33e;
    font-size: 50px;
    margin: 0;
    font-family: fantasy; }

main .news-nav-tabs-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 40px; }
  main .news-nav-tabs-section .tale-pill-tab {
    padding-right: 3rem; }
    main .news-nav-tabs-section .tale-pill-tab .nav-item .nav-link {
      color: black; }
    main .news-nav-tabs-section .tale-pill-tab .nav-item .nav-link.active {
      background-color: #daa33e !important;
      border-radius: 10px;
      padding: 4px 10px 4px 10px; }
  main .news-nav-tabs-section .tab-content div .news-grid-container-events {
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "enews01img enews02img enews03img" "event01 event02 event03" "etitle01 etitle02 etitle03"; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .modal-button-img .journey-modal {
      grid-area: enews01img;
      width: 100%; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .modal-button-img .journey-modal:hover {
        box-shadow: 0px 0px 14px 0px;
        cursor: pointer; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .modal-button-data .epatch01 {
      grid-area: event01;
      position: relative;
      top: -15px;
      left: 45%;
      width: 90px;
      height: 90px;
      border-radius: 10px;
      background-color: #daa33e;
      color: white;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      padding: 3px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .modal-button-data .etitle01 {
      grid-area: etitle01;
      display: block;
      max-width: 100%;
      color: black;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: -20px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .tale-modal-container div .modal-content .modal-header {
      flex-direction: column; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .tale-modal-container div .modal-content .modal-body {
      flex-direction: column; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-journey .news-events-modal .tale-modal-container div .modal-content .modal-body img {
        width: 80%;
        align-items: center; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .modal-button-img .gatekeeper-modal {
      grid-area: enews02img;
      width: 100%; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .modal-button-img .gatekeeper-modal:hover {
        box-shadow: 0px 0px 14px 0px;
        cursor: pointer; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .modal-button-data .epatch02 {
      grid-area: event02;
      position: relative;
      top: -15px;
      left: 45%;
      width: 90px;
      height: 90px;
      border-radius: 10px;
      background-color: #daa33e;
      color: white;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      padding: 3px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .modal-button-data .etitle02 {
      grid-area: etitle02;
      display: block;
      max-width: 100%;
      color: black;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: -20px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .tale-modal-container div .modal-content .modal-header {
      flex-direction: column; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .tale-modal-container div .modal-content .modal-body {
      flex-direction: column; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-gatekeeper .news-events-modal .tale-modal-container div .modal-content .modal-body img {
        width: 80%;
        align-items: center; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .modal-button-img .training-modal {
      grid-area: enews03img;
      width: 100%; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .modal-button-img .training-modal:hover {
        box-shadow: 0px 0px 14px 0px;
        cursor: pointer; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .modal-button-data .epatch03 {
      grid-area: event03;
      position: relative;
      top: -15px;
      left: 45%;
      width: 90px;
      height: 90px;
      border-radius: 10px;
      background-color: #daa33e;
      color: white;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      padding: 3px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .modal-button-data .etitle03 {
      grid-area: etitle03;
      display: block;
      max-width: 100%;
      color: black;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: -20px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .tale-modal-container div .modal-content .modal-header {
      flex-direction: column; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .tale-modal-container div .modal-content .modal-body {
      flex-direction: column; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-events-training .news-events-modal .tale-modal-container div .modal-content .modal-body img {
        width: 80%;
        align-items: center; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .modal-button-img .pneuma-modal {
      grid-area: pnews01img;
      width: 100%; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .modal-button-img .pneuma-modal:hover {
        box-shadow: 0px 0px 14px 0px;
        cursor: pointer; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .modal-button-data .ppatch01 {
      grid-area: patch01;
      position: relative;
      top: -15px;
      left: 45%;
      width: 90px;
      height: 90px;
      border-radius: 10px;
      background-color: #daa33e;
      color: white;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      padding: 3px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .modal-button-data .ptitle01 {
      grid-area: ptitle01;
      display: block;
      max-width: 100%;
      color: black;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: -20px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .tale-modal-container div .modal-content .modal-header {
      flex-direction: column; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .tale-modal-container div .modal-content .modal-body {
      flex-direction: column; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-pneuma .news-patch-modal .tale-modal-container div .modal-content .modal-body img {
        width: 80%;
        align-items: center; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .modal-button-img .aie-modal {
      grid-area: pnews02img;
      width: 100%; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .modal-button-img .aie-modal:hover {
        box-shadow: 0px 0px 14px 0px;
        cursor: pointer; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .modal-button-data .ppatch02 {
      grid-area: patch02;
      position: relative;
      top: -15px;
      left: 45%;
      width: 90px;
      height: 90px;
      border-radius: 10px;
      background-color: #daa33e;
      color: white;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      padding: 3px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .modal-button-data .ptitle02 {
      grid-area: ptitle02;
      display: block;
      max-width: 100%;
      color: black;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: -20px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .tale-modal-container div .modal-content .modal-header {
      flex-direction: column; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .tale-modal-container div .modal-content .modal-body {
      flex-direction: column; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-aie .news-patch-modal .tale-modal-container div .modal-content .modal-body img {
        width: 80%;
        align-items: center; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .modal-button-img .laboom-modal {
      grid-area: pnews03img;
      width: 100%; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .modal-button-img .laboom-modal:hover {
        box-shadow: 0px 0px 14px 0px;
        cursor: pointer; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .modal-button-data .ppatch03 {
      grid-area: patch03;
      position: relative;
      top: -15px;
      left: 45%;
      width: 90px;
      height: 90px;
      border-radius: 10px;
      background-color: #daa33e;
      color: white;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      padding: 3px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .modal-button-data .ptitle03 {
      grid-area: ptitle03;
      display: block;
      max-width: 100%;
      color: black;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: -20px; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .tale-modal-container div .modal-content .modal-header {
      flex-direction: column; }
    main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .tale-modal-container div .modal-content .modal-body {
      flex-direction: column; }
      main .news-nav-tabs-section .tab-content div .news-grid-container-events section .news-patch-laboom .news-patch-modal .tale-modal-container div .modal-content .modal-body img {
        width: 80%;
        align-items: center; }

.main-privacy {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px; }

body .main-screen-complete-page .sign-up-container {
  background-image: url(/img/laboom-elias.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%; }
  body .main-screen-complete-page .sign-up-container .sign-up-title-container {
    text-align: center;
    padding-top: 50px; }
    body .main-screen-complete-page .sign-up-container .sign-up-title-container .sign-up-title {
      text-align: center;
      color: white;
      background-color: #daa33e;
      border: 2px solid #daa33e; }
  body .main-screen-complete-page .sign-up-container .sign-up-subtitle-container {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px; }
    body .main-screen-complete-page .sign-up-container .sign-up-subtitle-container .sign-up-subtitle {
      text-align: center;
      color: white;
      background-color: rgba(218, 163, 62, 0.678);
      border-top: 2px solid #daa33e;
      border-bottom: 2px solid #daa33e;
      font-size: 20px; }
  body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form {
    display: block;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 55px;
    margin-left: auto;
    margin-right: auto; }
    body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .form-check-container .form-check {
      padding-top: 55px; }
    body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button {
      padding-top: 50px; }
      body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons {
        margin-left: 0.2rem;
        background-color: #daa33e;
        color: white;
        border-color: #0c0c0d;
        transition: 1s; }
        body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons:hover {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important;
          transform: scale(1.05); }
        body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons:active {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important; }
        body .main-screen-complete-page .sign-up-container .sign-up-form-container .sign-up-form .account-form-button .my-buttons:focus {
          background-color: yellow !important;
          color: black !important;
          box-shadow: none !important;
          border-color: #daa33e !important; }

.main-terms {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px; }

footer section .footer-main-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.696), rgba(238, 234, 15, 0.288)), url(../img/slider2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: beige; }
  footer section .footer-main-container .footer-container-left .footer-container-left-img a img {
    height: 60px; }
  footer section .footer-main-container .footer-container-left .footer-container-left-img p {
    font-size: 10px; }
  footer section .footer-main-container .footer-container-right {
    margin-top: 15px;
    margin-right: 150px; }
    footer section .footer-main-container .footer-container-right a {
      margin-right: 30px;
      padding-left: 25px;
      color: beige;
      border-left: 2px beige solid; }

footer .scrolltotop {
  position: fixed;
  right: 3%;
  bottom: 3%; }

@media screen and (max-width: 1100px) {
  main .index-main-history-section .index-main-history-container .index-history-content-left {
    font-size: 13px; }
    main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-video iframe {
      width: 350px;
      height: 160px; }
  main .index-main-world-section .index-main-world-container .index-world-content-right {
    font-size: 13px; }
    main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-video iframe {
      width: 350px;
      height: 160px; }
  main .index-main-monster-section .index-main-monster-container .index-monster-content-left {
    font-size: 13px; }
    main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-video iframe {
      width: 350px;
      height: 160px; }
  main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right {
    font-size: 13px; }
    main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-video iframe {
      width: 350px;
      height: 160px; }
  .about-container-left-links {
    display: flex;
    flex-direction: column; }
    .about-container-left-links a {
      margin-bottom: 20px; }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "hero hero" "arch arch" "sav sav" "wind wind"; }
    .grid-container .hero-hero {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;
      text-align: center; }
      .grid-container .hero-hero .heroes-container-right {
        width: 100%; }
        .grid-container .hero-hero .heroes-container-right p {
          padding: 0; }
      .grid-container .hero-hero .heroes-container-left {
        width: 100%; }
    .grid-container .hero-archmage {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;
      text-align: center; }
      .grid-container .hero-archmage .heroes-container-right {
        width: 100%; }
        .grid-container .hero-archmage .heroes-container-right p {
          padding: 0; }
      .grid-container .hero-archmage .heroes-container-left {
        width: 100%; }
    .grid-container .hero-savior {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;
      text-align: center; }
      .grid-container .hero-savior .heroes-container-right {
        width: 100%; }
        .grid-container .hero-savior .heroes-container-right p {
          padding: 0; }
      .grid-container .hero-savior .heroes-container-left {
        width: 100%; }
    .grid-container .hero-windstalker {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;
      text-align: center; }
      .grid-container .hero-windstalker .heroes-container-right {
        width: 100%; }
        .grid-container .hero-windstalker .heroes-container-right p {
          padding: 0; }
      .grid-container .hero-windstalker .heroes-container-left {
        width: 100%; }
  footer .footer-main-section .footer-main-container .footer-container-left .footer-container-left-img img {
    height: 50px; }
  footer .footer-main-section .footer-main-container .footer-container-right a {
    font-size: 14px; }
  footer .scrolltotop .scroll-img-top a .sticky-top-button {
    height: 60px; } }

@media screen and (max-width: 990px) {
  .tale-container-fluid .tale-navbar-logo .tale-navbar-brand img {
    width: 60%; }
  .tale-container-fluid .tale-navbar-logo .tale-navbar-button {
    position: fixed;
    top: 50px;
    right: 45px; }
  .tale-container-fluid .navbar-dropdowns .navbar-nav {
    display: flex;
    flex-direction: row; }
    .tale-container-fluid .navbar-dropdowns .navbar-nav .dropdown-menu {
      position: absolute !important; }
  .tale-container-fluid .navbar-login {
    display: none; }
  .news-nav-tabs-section div .tale-pill-tab {
    padding-right: 3rem; }
  .news-nav-tabs-section div div .news-grid-container-patch-notes {
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "pnews01img pnews02img" "patch01 patch02" "ptitle01 ptitle02"; }
  .news-nav-tabs-section div div .news-grid-container-events {
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "enews01img enews02img" "event01 event02" "etitle01 etitle02"; } }

@media screen and (max-width: 900px) {
  .tale-container-fluid {
    display: flex;
    justify-content: space-between; }
    .tale-container-fluid .tale-navbar-logo .tale-navbar-brand img {
      width: 60%; }
    .tale-container-fluid .tale-navbar-logo .tale-navbar-button {
      position: fixed;
      top: 50px;
      right: 45px; }
    .tale-container-fluid .navbar-dropdowns .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: left; }
      .tale-container-fluid .navbar-dropdowns .navbar-nav .dropdown-menu {
        position: absolute !important; }
    .tale-container-fluid .navbar-login {
      display: none; }
  main .index-main-history-section .index-main-history-container .index-history-content-left {
    font-size: 16px; }
    main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-title h2 {
      font-size: 24px; }
    main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-video iframe {
      width: 250px;
      height: 120px; }
  main .index-main-world-section .index-main-world-container .index-world-content-right {
    font-size: 15px; }
    main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-title h2 {
      font-size: 16px; }
    main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-video iframe {
      width: 250px;
      height: 120px; }
  main .index-main-monster-section .index-main-monster-container .index-monster-content-left {
    font-size: 15px; }
    main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-title h2 {
      font-size: 16px; }
    main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-video iframe {
      width: 250px;
      height: 120px; }
  main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right {
    font-size: 15px; }
    main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-title h2 {
      font-size: 16px; }
    main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-video iframe {
      width: 250px;
      height: 120px; }
  footer .footer-main-section .footer-main-container .footer-container-left .footer-container-left-img img {
    height: 40px; }
  footer .footer-main-section .footer-main-container .footer-container-right {
    margin-right: 0px; }
    footer .footer-main-section .footer-main-container .footer-container-right a {
      font-size: 12px; }
  footer .scrolltotop .scroll-img-top a .sticky-top-button {
    display: none; } }

@media screen and (max-width: 650px) {
  .tale-container-fluid .tale-navbar-logo .navbar-dropdowns .navbar-nav {
    margin-left: 1rem;
    margin-right: 1rem; }
    .tale-container-fluid .tale-navbar-logo .navbar-dropdowns .navbar-nav .nav-item {
      position: static; }
      .tale-container-fluid .tale-navbar-logo .navbar-dropdowns .navbar-nav .nav-item .dropdown-menu {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 0;
        left: 0%;
        right: 0%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%; }
        .tale-container-fluid .tale-navbar-logo .navbar-dropdowns .navbar-nav .nav-item .dropdown-menu .dropdown-menu-box li {
          margin-left: 0.5rem;
          margin-right: 0.5rem; }
  .nav-item.dropdown {
    position: static; }
  .dropdown-menu.show {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%; }
  main .index-main-history-section .index-main-history-container {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px; }
    main .index-main-history-section .index-main-history-container .index-history-content-left {
      padding: 0; }
      main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-title h2 {
        font-size: 24px; }
      main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-text {
        font-size: 16px; }
      main .index-main-history-section .index-main-history-container .index-history-content-left .index-history-video iframe {
        display: none; }
    main .index-main-history-section .index-main-history-container .index-history-content-right {
      display: inherit; }
  main .index-main-world-section .index-main-world-container {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 15px;
    padding-left: 15px; }
    main .index-main-world-section .index-main-world-container .index-world-content-right {
      padding: 0; }
      main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-title h2 {
        font-size: 24px; }
      main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-text {
        font-size: 16px; }
      main .index-main-world-section .index-main-world-container .index-world-content-right .index-world-video iframe {
        display: none; }
    main .index-main-world-section .index-main-world-container .index-world-content-left {
      display: inherit; }
  main .index-main-monster-section .index-main-monster-container {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px; }
    main .index-main-monster-section .index-main-monster-container .index-monster-content-left {
      padding: 0; }
      main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-title h2 {
        font-size: 24px; }
      main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-text {
        font-size: 16px; }
      main .index-main-monster-section .index-main-monster-container .index-monster-content-left .index-monster-video iframe {
        display: none; }
    main .index-main-monster-section .index-main-monster-container .index-monster-content-right {
      display: inherit; }
  main .index-main-heroes-section .index-main-heroes-container {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 15px;
    padding-left: 15px; }
    main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right {
      padding: 0; }
      main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-title h2 {
        font-size: 24px; }
      main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-text {
        font-size: 16px; }
      main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-right .index-heroes-video iframe {
        display: none; }
    main .index-main-heroes-section .index-main-heroes-container .index-heroes-content-left {
      display: inherit; }
  .heroes-main-section .heroes-classes .hero-hero .heroes-container-right p {
    font-size: 20px; }
  .heroes-main-section .heroes-classes .hero-hero .heroes-container-right iframe {
    display: none; }
  .heroes-main-section .heroes-classes .hero-archmage .heroes-container-right p {
    font-size: 20px; }
  .heroes-main-section .heroes-classes .hero-archmage .heroes-container-right iframe {
    display: none; }
  .heroes-main-section .heroes-classes .hero-savior .heroes-container-right p {
    font-size: 20px; }
  .heroes-main-section .heroes-classes .hero-savior .heroes-container-right iframe {
    display: none; }
  .heroes-main-section .heroes-classes .hero-windstalker .heroes-container-right p {
    font-size: 20px; }
  .heroes-main-section .heroes-classes .hero-windstalker .heroes-container-right iframe {
    display: none; } }

@media screen and (max-width: 460px) {
  .tale-container-fluid .tale-navbar-logo .tale-navbar-brand img {
    width: 55%; }
  .tale-container-fluid .navbar-dropdowns .navbar-nav .nav-item {
    margin-left: 1rem;
    margin-right: 1rem; }
  .tale-container-fluid .navbar-dropdowns .navbar-nav .nav-item.dropdown {
    position: static; }
    .tale-container-fluid .navbar-dropdowns .navbar-nav .nav-item.dropdown .dropdown-menu.show {
      display: flex;
      flex-direction: column; }
  .sign-up-form {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .news-nav-tabs-section {
    display: flex;
    justify-content: center;
    align-items: center; }
    .news-nav-tabs-section .tale-pill-tab {
      padding: 0;
      margin: 0;
      justify-content: center !important;
      align-items: center !important; }
  footer .footer-main-section .footer-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; }
    footer .footer-main-section .footer-main-container .footer-container-left .footer-container-left-img img {
      height: 40px; }
    footer .footer-main-section .footer-main-container .footer-container-left .footer-container-left-text p {
      margin-bottom: 0;
      padding-top: 1rem; }
    footer .footer-main-section .footer-main-container .footer-container-right {
      padding-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      footer .footer-main-section .footer-main-container .footer-container-right a {
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        border-left: 0; }
  footer .scrolltotop .scroll-img-top a .sticky-top-button {
    display: none; } }
