@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
textarea:focus, input:focus, input[type]:focus {
    border-color: rgb(218, 163, 62);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(218, 163, 62, 0.671);
    outline: 0 none;
}
.my-buttons:hover{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.my-buttons:active{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.my-buttons:focus{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.modal-button-img img:hover {
    box-shadow: 0px 0px 14px 0px;
    cursor: pointer;
}
.main-screen-complete-page{
    height: calc(100vh - 243.3px);
}

/* BOOTSTRAP NAVBAR */
header{
    position: sticky;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.578)),  url(../img/slider2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 3;
}
.navbar-brand img{
width: 83%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(218, 163, 62);
} 

.navbar-dropdowns{
    display: flex;
    justify-content: center;
}
.navbar-nav li{
    margin-right: 4rem;
    border: 1px solid ;
    border-radius: 6px;
    border-color: rgb(218, 163, 62);
}
.nav-dropdown-section {
    color: white !important;
}
.dropdown-item{
    color: white;
    background-color: rgb(218, 163, 62);
    text-align: center;
    margin: 1px solid;
}
.dropdown-item:active{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.dropdown-item:hover{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.dropdown-menu.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(241, 232, 242, 0.7);
    padding-left: 4rem;
}
.dropdown-menu-box {
margin-top: 0.5rem;
}
.navbar-login-textbox{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 0.2rem;
    margin-top: -0.5rem;
}
.navbar-login-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 0.8rem;
}
.navbar-login-buttons button{
    margin-left: 0.2rem;
}

.navbar-login-forgot{
    display: flex;
    justify-content: end;
    color: black;
}
.navbar-login-forgot a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin-right: 0.8rem;
}
.btn-primary{
    background-color: rgb(218, 163, 62);
    color: white;
    border-color: rgb(12, 12, 13);
}

/* INDEX MAIN PAGE */

/* BOOTSTRAP CAROUSEL */

.index-main-history-section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.index-main-history-container {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0)), url(../img/background-home-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-history-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    padding-left: 20px;
}
.index-history-title{
    padding-top: 15px;
}
.index-history-video{
    padding-bottom: 15px;
}
.index-history-content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-history-content-right img{
    width: 100%;
}
#history, #world, #monsters, #heroes, #hero, #archmage, #savior, #windstalker{
    display: block;
    position: absolute;
    top: -152.04px;
    visibility: hidden;
}
.index-main-world-section{
    position: relative;
}
.index-main-world-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-world-001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-world-content-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.index-world-title{
    padding-top: 15px;
}
.index-world-video{
    padding-bottom: 15px;
    margin-top: 50px;
}
.index-world-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-world-content-left img{
    width: 100%;
}
.index-main-monster-section{
    position: relative;
}
.index-main-monster-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-monster-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.index-monster-content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-monster-content-right img{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.index-monster-title{
    padding-top: 15px;
}
.index-monster-video {
    margin-top: 50px;
    padding-bottom: 15px;
}
.index-main-heroes-section{
    position: relative;
}
.index-main-heroes-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-heroes-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.index-heroes-title{
    padding-top: 15px;
}
.index-heroes-video{
    padding-bottom: 15px;
    margin-top: 50px;
}
.index-heroes-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-heroes-content-left img{
    width: 100%;
}


/* HEROES HTML PAGE */

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "hero hero"
    "arch arch"
    "sav sav"
    "wind wind"
    ;
}

.heroes-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.heroes-container-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroes-container-right p{
    width: 100%;
    padding-bottom: 10px;
    padding-right: 30px;
    color: white;
}
.heroes-container-right iframe{
    padding-top: 10px;
}

.hero-hero{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative;
}
.hero-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.hero-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.hero-archmage{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: arch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative;
}
.archmage-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.archmage-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.hero-savior{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: sav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative;
}
.savior-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.savior-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.hero-windstalker{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: wind;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative;
}
.windstalker-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.windstalker-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

/* NEWS HTML PAGE */

.news-main-container{
    background-image: url(../img/topbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.news-main-title{
    text-align: center;
    color: rgb(218, 163, 62);
    font-size: 50px;
    margin: 0;
    font-family: fantasy;
}
.mb-3{
    padding-right: 3rem;
}
.news-nav-tabs-section{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 40px;
}
.nav-link{
    color: black;
}
.nav-link.active{
    background-color: rgb(218, 163, 62) !important;
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
}
.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body img{
    width: 80%;
    align-items: center;
}

.news-grid-container-patch-notes{
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "pnews01img pnews02img pnews03img"
    "patch01 patch02 patch03"
    "ptitle01 ptitle02 ptitle03"
    ;
}
.news-patch-font{
    color: rgb(218, 163, 62);
}

.pneuma-modal{
    grid-area: pnews01img;
    width: 100%;
}
.ppatch01{
    grid-area: patch01;
    position: relative;
    top: -15px;
    left: 45%;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(218, 163, 62);
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 3px;
}
.ptitle01{
    grid-area: ptitle01;
    display: block;
    max-width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -20px;
}
.aie-modal{
    grid-area: pnews02img;
    width: 100%;
}
.ppatch02{
    grid-area: patch02;
    position: relative;
    top: -15px;
    left: 45%;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(218, 163, 62);
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 3px;
}
.ptitle02{
    grid-area: ptitle02;
    display: block;
    max-width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -20px;
}
.laboom-modal{
    grid-area: pnews03img;
    width: 100%;
}
.ppatch03{
    grid-area: patch03;
    position: relative;
    top: -15px;
    left: 45%;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(218, 163, 62);
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 3px;
}
.ptitle03{
    grid-area: ptitle03;
    display: block;
    max-width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -20px;
}

.news-grid-container-events{
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "enews01img enews02img enews03img"
    "event01 event02 event03"
    "etitle01 etitle02 etitle03"
    ;
}

.journey-modal{
grid-area: enews01img;
width: 100%;
}
.epatch01{
grid-area: event01;
position: relative;
top: -15px;
left: 45%;
width: 90px;
height: 90px;
border-radius: 10px;
background-color: rgb(218, 163, 62);
color: white;
font-size: 13px;
letter-spacing: 1px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
padding: 3px;
}
.etitle01{
grid-area: etitle01;
display: block;
max-width: 100%;
color: black;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.25px;
text-align: center;
white-space: nowrap;
overflow: hidden;
position: relative;
top: -20px;
}
.gatekeeper-modal{
grid-area: enews02img;
width: 100%;
}
.epatch02{
grid-area: event02;
position: relative;
top: -15px;
left: 45%;
width: 90px;
height: 90px;
border-radius: 10px;
background-color: rgb(218, 163, 62);
color: white;
font-size: 13px;
letter-spacing: 1px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
padding: 3px;
}
.etitle02{
grid-area: etitle02;
display: block;
max-width: 100%;
color: black;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.25px;
text-align: center;
white-space: nowrap;
overflow: hidden;
position: relative;
top: -20px;
}
.training-modal{
grid-area: enews03img;
width: 100%;
}
.epatch03{
grid-area: event03;
position: relative;
top: -15px;
left: 45%;
width: 90px;
height: 90px;
border-radius: 10px;
background-color: rgb(218, 163, 62);
color: white;
font-size: 13px;
letter-spacing: 1px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
padding: 3px;
}
.etitle03{
grid-area: etitle03;
display: block;
max-width: 100%;
color: black;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.25px;
text-align: center;
white-space: nowrap;
overflow: hidden;
position: relative;
top: -20px;
}

/* EULA HTML PAGE */

.main-eula{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* PRIVACY HTML PAGE */

.main-privacy{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* TERMS HTML PAGE */

.main-terms{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ABOUT HTML PAGE */

.about-main-section{
    height: 100%;
}
.about-main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-container-left-links{
    display: flex;
}
.about-container-left-links a {
    margin-right: 25px;
    color: white;
    border: 2px white solid;
    padding: 5px;
}
.about-container-right{
    display: flex;
    justify-content: center;
}
.about-container-right img{
    width: 100%;
    object-fit: contain;
}

/* ACCOUNT HTML PAGE */

.sign-up-container{
    background-image: url(../img/laboom-elias.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sign-up-title-container{
    text-align: center;
    padding-top: 50px;
}
.sign-up-title{
    text-align: center;
    color: white;
    background-color: rgb(218, 163, 62);
    border: 2px solid rgb(218, 163, 62);
}
.sign-up-subtitle-container{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px;
}
.sign-up-subtitle{
    text-align: center;
    color: white;
    background-color: rgba(218, 163, 62, 0.678);
    border-top: 2px solid rgb(218, 163, 62);
    border-bottom: 2px solid rgb(218, 163, 62);
    font-size: 20px;
}
.sign-up-form{
    display: block;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
}
.form-check{
    padding-top: 55px;
}
.account-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

/* ACCOUNT HTML PAGE */
/* REGISTER HTML PAGE */

.sign-up-container{
    height: 100%;
}



/* FOOTER */

.footer-main-container {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.696), rgba(238, 234, 15, 0.288)), url(../img/slider2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: beige;
}
.footer-container-left-img img{
height: 60px;
}
.footer-container-left p {
    font-size: 10px;
}
.footer-container-right {
    margin-top: 15px;
    margin-right: 150px;
}
.footer-container-right a {
    margin-right: 30px;
    padding-left: 25px;
    color: beige;
    border-left: 2px beige solid; 
}
.scrolltotop {
    position: fixed;
    right: 3%;
    bottom: 3%;
}

/* END OF CONTENT */



/* MEDIA QUERIES */

@media screen and (max-width:1100px){
    /* 1100 INDEX MEDIA QUERY */
    .index-history-content-left{
        font-size: 13px;
    }
    .index-history-video iframe{
        width: 350px;
        height: 160px;
    }
    .index-world-content-right {
        font-size: 13px;
    }
    .index-world-video iframe{
        width: 350px;
        height: 160px;
    }
    .index-monster-content-left {
        font-size: 13px;
    }
    .index-monster-video iframe{
        width: 350px;
        height: 160px;
    }
    .index-heroes-content-right {
        font-size: 13px;
    }
    .index-heroes-video iframe{
        width: 350px;
        height: 160px;
    }
    /* 1100 ABOUT MEDIA QUERY */
    .about-container-left-links{
        display: flex;
        flex-direction: column;
    }
    .about-container-left-links a{
        margin-bottom: 20px;
    }
    /* 1100 HEROES MEDIA QUERY */
    .grid-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "hero hero"
        "arch arch"
        "sav sav"
        "wind wind"
        ;
    }
    .heroes-container-right{
        width: 100%;
    }
    .heroes-container-left{
        width: 100%;
    }
    .heroes-container-right p{
        padding: 0;
    }
    
    .hero-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        text-align: center;
    }
    .hero-archmage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        text-align: center;
    }
    .hero-savior{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        text-align: center;
    }
    .hero-windstalker{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        text-align: center;
    }
    /* 1100 FOOTER MEDIA QUERY */
    .footer-container-left-img img{
        height: 50px;
    }
    .footer-container-right a{
        font-size: 14px;
    }
    .sticky-top-button{
        height: 60px;
    }
}


@media screen and (max-width:990px) {
    /* 990 NAV MEDIA QUERY */
    .navbar-brand img{
        width: 60%;
        }
    .navbar-login{
        display: none;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    .dropdown-menu{
        position: absolute !important;
    }
    .navbar-logo button{
        position: fixed;
        top: 50px;
        right: 45px;
    }
    /* 990 NEWS MEDIA QUERY */
    .news-grid-container-patch-notes{
        width: 100%;
        display: grid;
        padding: 20px;
        gap: 5px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "pnews01img pnews02img"
        "patch01 patch02"
        "ptitle01 ptitle02"
        ;
    }
    .news-grid-container-events{
        width: 100%;
        display: grid;
        padding: 20px;
        gap: 5px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "enews01img enews02img"
        "event01 event02"
        "etitle01 etitle02"
        ;
    }
    .mb-3{
        padding-right: 3rem;
    }
}

@media screen and (max-width:900px){
    /* 900 NAV MEDIA QUERY */
    .navbar-login{
        display: none;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    /* 900 INDEX MEDIA QUERY */
    .index-history-content-left{
        font-size: 16px;
    }
    .index-history-title h2{
        font-size: 24px;
    }
    .index-history-video iframe{
        width: 250px;
        height: 120px;
    }
    .index-world-content-right {
        font-size: 15px;
    }
    .index-world-title h2{
        font-size: 16px;
    }
    .index-world-video iframe{
        width: 250px;
        height: 120px;
    }
    .index-monster-content-left {
        font-size: 15px;
    }
    .index-monster-title h2{
        font-size: 16px;
    }
    .index-monster-video iframe{
        width: 250px;
        height: 120px;
    }
    .index-heroes-content-right {
        font-size: 15px;
    }
    .index-heroes-title h2{
        font-size: 16px;
    }
    .index-heroes-video iframe{
        width: 250px;
        height: 120px;
    }
    /* 900 FOOTER MEDIA QUERY */
    .footer-container-left-img img{
        height: 40px;
    }
    .footer-container-right {
        margin-right: 0px;
    }
    .footer-container-right a{
        font-size: 12px;
    }
    .sticky-top-button{
        display: none;
    }
}
@media screen and (max-width:800px){
    /* 800 INDEX MEDIA QUERY */
    .index-history-content-right{
        display: none;
    }
    .index-main-history-container{
        padding-right: 45px;
        padding-left: 45px;
    }
    .index-history-content-left{
        padding: 0;
    }
    .index-history-title h2{
        font-size: 24px;
    }
    .index-world-content-left{
        display: none;
    }
    .index-world-history-container{
        padding-right: 45px;
        padding-left: 45px;
    }
    .index-world-content-right{
        padding: 0;
    }
    .index-world-title h2{
        font-size: 24px;
    }
    .index-monster-content-right{
        display: none;
    }
    .index-monster-history-container{
        padding-right: 45px;
        padding-left: 45px;
    }
    .index-monster-content-left{
        padding: 0;
    }
    .index-monster-title h2{
        font-size: 24px;
    }
    .index-heroes-content-left{
        display: none;
    }
    .index-heroes-history-container{
        padding-right: 45px;
        padding-left: 45px;
    }
    .index-heroes-content-right{
        padding: 0;
    }
    .index-heroes-title h2{
        font-size: 24px;
    }
}

@media screen and (max-width:750px){
    /* 750 NAV MEDIA QUERY */
    .navbar-brand img{
    width: 50%;
    }
    .navbar-nav li{
    margin-right: 2rem;
    margin-left: 2rem;
    }
    .dropdown-menu.show{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    /* 750 ABOUT MEDIA QUERY */
    .about-main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-screen-complete-page{
        height: auto;
    }
    .about-container-left-links a{
        text-align: center;
    }
    .about-container-left-title{
        padding-top: 3rem;
    }
    /* 750 NEWS MEDIA QUERY */
    .news-grid-container-patch-notes{
        width: 100%;
        display: grid;
        padding: 20px;
        gap: 5px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "pnews01img"
        "patch01"
        "ptitle01"
        ;
    }
    .news-grid-container-events{
        width: 100%;
        display: grid;
        padding: 20px;
        gap: 5px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "enews01img"
        "event01"
        "etitle01"
        ;
    }
    .mb-3{
        padding-right: 3rem;
    }
    /* 750 FOOTER MEDIA QUERY */
    .footer-main-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    }
    .footer-container-right{
        padding-bottom: 1rem;
    }
    .footer-container-left-text p{
        margin-bottom: 0;
        padding-top: 1rem;
    }
}


@media screen and (max-width:650px){
    /* 650 NAV MEDIA QUERY */
    .dropdown-menu.show{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    }
    .nav-item.dropdown{
    position: static;
    }
    .navbar-nav .nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
    }
    .dropdown-menu-box li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    }
    /* 650 INDEX MEDIA QUERY */
    .index-main-history-container{
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        padding-left: 15px;
    }
    .index-history-content-left{
        padding: 0;
    }
    .index-history-title h2{
        font-size: 24px;
    }
    .index-history-text{
        font-size: 16px;
    }
    .index-history-video iframe{
    display: none;
    }
    .index-history-content-right{
        display: inherit;
    }
    .index-main-world-container{
        display: flex;
        flex-direction: column-reverse;
        padding-right: 15px;
        padding-left: 15px;
    }
    .index-world-content-right{
        padding: 0;
    }
    .index-world-title h2{
        font-size: 24px;
    }
    .index-world-text{
        font-size: 16px;
    }
    .index-world-video iframe{
    display: none;
    }
    .index-world-content-left{
        display: inherit;
    }
    .index-main-monster-container{
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        padding-left: 15px;
    }
    .index-monster-content-left{
        padding: 0;
    }
    .index-monster-title h2{
        font-size: 24px;
    }
    .index-monster-text{
        font-size: 16px;
    }
    .index-monster-video iframe{
    display: none;
    }
    .index-monster-content-right{
        display: inherit;
    }
    .index-main-heroes-container{
        display: flex;
        flex-direction: column-reverse;
        padding-right: 15px;
        padding-left: 15px;
    }
    .index-heroes-content-right{
        padding: 0;
    }
    .index-heroes-title h2{
        font-size: 24px;
    }
    .index-heroes-text{
        font-size: 16px;
    }
    .index-heroes-video iframe{
    display: none;
    }
    .index-heroes-content-left{
        display: inherit;
    }
    /* 650 HEROES MEDIA QUERY */
    .heroes-container-right iframe{
    display: none;
    }
    .heroes-container-right p{
        font-size: 20px;
    }
}

@media screen and (max-width:460px){
    /* 460 NAV MEDIA QUERY */
    .navbar-brand img{
        width: 55%;
        }
    .dropdown-menu.show{
    flex-direction: column;
    }
    /* 460 ACCOUNT MEDIA QUERY */
    .sign-up-form{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    /* 460 NEWS MEDIA QUERY */
    .mb-3{
        padding: 0;
        margin: 0;
        justify-content: center !important;
        align-items: center !important;
    }
    .news-nav-tabs-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* 460 FOOTER MEDIA QUERY */
    .footer-main-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        }
        .footer-container-left-text p{
            margin-bottom: 0;
            padding-top: 1rem;
        }
        .footer-container-right{
            padding-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .footer-container-right a {
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 10px;
            border-left: 0;
        }
}
