@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
textarea:focus, input:focus, input[type]:focus {
    border-color: rgb(218, 163, 62);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(218, 163, 62, 0.671);
    outline: 0 none;
}
.my-buttons:hover{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.my-buttons:active{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.my-buttons:focus{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}

/* HEADER */
/* BOOTSTRAP NAVBAR */
header{
    position: sticky;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.578)),  url(../img/slider2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 3;
}
.navbar-brand img{
width: 16rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(218, 163, 62);
} 

.navbar-dropdowns{
    display: flex;
    justify-content: center;
}
.navbar-nav li{
    margin-right: 4rem;
    border: 1px solid ;
    border-radius: 6px;
    border-color: rgb(218, 163, 62);
}
.nav-dropdown-section {
    color: white !important;
}
.dropdown-item{
    color: white;
    background-color: rgb(218, 163, 62);
    text-align: center;
    margin: 1px solid;
}
.dropdown-item:active{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.dropdown-item:hover{
    background-color: yellow !important;
    color: black !important;
    box-shadow: none !important;
    border-color: rgb(218, 163, 62) !important;
}
.dropdown-menu.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(241, 232, 242, 0.7);
    padding-left: 4rem;
}
.dropdown-menu-box {
margin-top: 0.5rem;
}
.navbar-login-textbox{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 0.2rem;
    margin-top: -0.5rem;
}
.navbar-login-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 0.8rem;
}
.navbar-login-buttons button{
    margin-left: 0.2rem;
}

.navbar-login-forgot{
    display: flex;
    justify-content: end;
    color: black;
}
.navbar-login-forgot a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin-right: 0.8rem;
}
.btn-primary{
    background-color: rgb(218, 163, 62);
    color: white;
    border-color: rgb(12, 12, 13);
}
/* BOOTSTRAP CAROUSEL */

/* INDEX MAIN PAGE */

.index-main-history-section{
    display: flex;
    flex-wrap: wrap;
}
.index-main-history-container {
    background-image: url(../img/background-home-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-history-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    padding-left: 20px;
}
.index-history-title{
    padding-top: 15px;
}
.index-history-video{
    padding-bottom: 15px;
}
.index-history-content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-history-content-right img{
    width: 100%;
}
#history, #world, #monsters, #heroes, #hero, #archmage, #savior, #windstalker{
    display: block;
    position: relative;
    top: -152.04px;
    visibility: hidden;
}
.index-main-world-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-world-001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-world-content-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.index-world-title{
    padding-top: 15px;
}
.index-world-video{
    padding-bottom: 15px;
}
.index-world-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-world-content-left img{
    width: 100%;
}
.index-world-video {
    margin-top: 50px;
}
.index-main-monster-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-monster-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.index-monster-content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-monster-content-right img{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.index-monster-title{
    padding-top: 15px;
}
.index-monster-video {
    margin-top: 50px;
    padding-bottom: 15px;
}
.index-main-heroes-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}
.index-heroes-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.index-heroes-title{
    padding-top: 15px;
}
.index-heroes-video{
    padding-bottom: 15px;
}
.index-heroes-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.index-heroes-content-left img{
    width: 100%;
}
.index-heroes-video {
    margin-top: 50px;
}

/* HEROES HTML PAGE */

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: /* 25% 25% 25% 25% */ auto auto auto auto;
    grid-template-areas:
    "hero hero"
    "arch arch"
    "sav sav"
    "wind wind"
    ;
}

.heroes-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.heroes-container-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroes-container-right p{
    width: 100%;
    padding-bottom: 10px;
    padding-right: 30px;
    color: white;
}
.heroes-container-right iframe{
    padding-top: 10px;
}

.hero-hero{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px
}
.hero-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.hero-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.hero-archmage{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: arch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px
}
.archmage-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.archmage-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.hero-savior{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: sav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px
}
.savior-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.savior-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.hero-windstalker{
    background-image: url(../img/class-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: wind;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px
}
.windstalker-img01 img{
    width: 75%;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.windstalker-img02 img{
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

/* NEWS HTML PAGE */

.news-main-container{
    background-image: url(../img/topbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.news-main-title{
    text-align: center;
    color: rgb(218, 163, 62);
    font-size: 50px;
    margin: 0;
    font-family: fantasy;
}
.news-nav-tabs-section{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 40px;
}
.nav-link{
    color: black;
}
.nav-link.active{
    background-color: rgb(218, 163, 62) !important;
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
}
.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body img{
    width: 80%;
    align-items: center;
}

.news-grid-container-patch-notes{
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "pnews01img pnews02img pnews03img"
    "patch01 patch02 patch03"
    "ptitle01 ptitle02 ptitle03"
    ;
}
.news-patch-font{
    color: rgb(218, 163, 62);
}

.pneuma-modal{
    grid-area: pnews01img;
    width: 100%;
}
.ppatch01{
    grid-area: patch01;
    position: relative;
    top: -15px;
    left: 45%;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(218, 163, 62);
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 3px;
}
.ptitle01{
    grid-area: ptitle01;
    display: block;
    max-width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -20px;
}
.aie-modal{
    grid-area: pnews02img;
    width: 100%;
}
.ppatch02{
    grid-area: patch02;
    position: relative;
    top: -15px;
    left: 45%;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(218, 163, 62);
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 3px;
}
.ptitle02{
    grid-area: ptitle02;
    display: block;
    max-width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -20px;
}
.laboom-modal{
    grid-area: pnews03img;
    width: 100%;
}
.ppatch03{
    grid-area: patch03;
    position: relative;
    top: -15px;
    left: 45%;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(218, 163, 62);
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 3px;
}
.ptitle03{
    grid-area: ptitle03;
    display: block;
    max-width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -20px;
}

.news-grid-container-events{
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "enews01img enews02img enews03img"
    "event01 event02 event03"
    "etitle01 etitle02 etitle03"
    ;
}

.journey-modal{
grid-area: enews01img;
width: 100%;
}
.epatch01{
grid-area: event01;
position: relative;
top: -15px;
left: 45%;
width: 90px;
height: 90px;
border-radius: 10px;
background-color: rgb(218, 163, 62);
color: white;
font-size: 13px;
letter-spacing: 1px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
padding: 3px;
}
.etitle01{
grid-area: etitle01;
display: block;
max-width: 100%;
color: black;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.25px;
text-align: center;
white-space: nowrap;
overflow: hidden;
position: relative;
top: -20px;
}
.gatekeeper-modal{
grid-area: enews02img;
width: 100%;
}
.epatch02{
grid-area: event02;
position: relative;
top: -15px;
left: 45%;
width: 90px;
height: 90px;
border-radius: 10px;
background-color: rgb(218, 163, 62);
color: white;
font-size: 13px;
letter-spacing: 1px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
padding: 3px;
}
.etitle02{
grid-area: etitle02;
display: block;
max-width: 100%;
color: black;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.25px;
text-align: center;
white-space: nowrap;
overflow: hidden;
position: relative;
top: -20px;
}
.training-modal{
grid-area: enews03img;
width: 100%;
}
.epatch03{
grid-area: event03;
position: relative;
top: -15px;
left: 45%;
width: 90px;
height: 90px;
border-radius: 10px;
background-color: rgb(218, 163, 62);
color: white;
font-size: 13px;
letter-spacing: 1px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
padding: 3px;
}
.etitle03{
grid-area: etitle03;
display: block;
max-width: 100%;
color: black;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.25px;
text-align: center;
white-space: nowrap;
overflow: hidden;
position: relative;
top: -20px;
}

/* EULA HTML PAGE */

.main-eula{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* PRIVACY HTML PAGE */

.main-privacy{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* TERMS HTML PAGE */

.main-terms{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ABOUT HTML PAGE */

.main-about-page{
    height: calc(100vh - 243.3px);
}
.about-main-section{
    height: 100%;
}
.about-main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-container-left-links{
    display: flex;
}
.about-container-left-links a {
    margin-right: 25px;
    color: white;
    border: 2px white solid;
    padding: 5px;
}
.about-container-right{
    display: flex;
    justify-content: center;
}
.about-container-right img{
    width: 100%;
    object-fit: contain;
}

/* ACCOUNT HTML PAGE */

.sign-up-container{
    background-image: url(../img/laboom-elias.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sign-up-title-container{
    text-align: center;
    padding-top: 50px;
}
.sign-up-title{
    text-align: center;
    color: white;
    background-color: rgb(218, 163, 62);
    border: 2px solid rgb(218, 163, 62);
}
.sign-up-subtitle-container{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px;
}
.sign-up-subtitle{
    text-align: center;
    color: white;
    background-color: rgba(218, 163, 62, 0.678);
    border-top: 2px solid rgb(218, 163, 62);
    border-bottom: 2px solid rgb(218, 163, 62);
    font-size: 20px;
}
.sign-up-form{
    display: block;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
}
.form-check{
    padding-top: 55px;
}
.account-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


/* FOOTER */

.footer-main-container {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.696), rgba(238, 234, 15, 0.288)), url(../img/slider2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: beige;
}
.footer-container-left-img img{
height: 60px;
}
.footer-container-left p {
    font-size: 10px;
}
.footer-container-right {
    margin-top: 15px;
    margin-right: 150px;
}
.footer-container-right a {
    margin-right: 30px;
    padding-left: 25px;
    color: beige;
    border-left: 2px beige solid; 
}
.scrolltotop {
    position: fixed;
    right: 3%;
    bottom: 3%;
}

/* END OF CONTENT */