body{
    .main-screen-complete-page{
        height: calc(100vh - 243.3px);
        .about-main-section{
            height: 100%;
            .about-main-container {
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background01.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                .about-container-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: beige;
                    font-size: 15px;
                    padding-left: 20px;
                    padding-right: 20px;
                    .about-container-left-links{
                        display: flex;
                        a{
                            margin-right: 25px;
                            color: white;
                            border: 2px white solid;
                            padding: 5px;
                        }
                    }
                }
                .about-container-right{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}