body{
    .main-screen-complete-page{
        height: calc(100vh - 243.3px);
        .about-main-section{
            height: 100%;
            .about-main-container {
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background01.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 100%;
                width: 100%;
                @include justify (flex, space-around);
                .about-container-left {
                    @extend %flex;
                    flex-direction: column;
                    color: beige;
                    font-size: nth($font-size, 6);
                    padding-left: 20px;
                    padding-right: 20px;
                    .about-container-left-links{
                        display: flex;
                        a{
                            margin-right: 25px;
                            color: $color-border;
                            border: 2px $color-border solid;
                            padding: 5px;
                        }
                    }
                }
                .about-container-right{
                    @include justify (flex, center);
                    .fade-in-out{
                        width: 100%;
                        object-fit: contain;
                        animation: fade-inout 3s infinite alternate;
                    }
                }
            }
        }
    }
}