body{
    .main-screen-complete-page{
        .sign-up-container{
            background-image: url(../img/laboom-elias.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            .sign-up-title-container{
                text-align: center;
                padding-top: 50px;
                .sign-up-title{
                    text-align: center;
                    color: $color-border;
                    background-color: $color-main;
                    border: 2px solid $color-main;
                }
            }
            .sign-up-subtitle-container{
                text-align: center;
                padding-bottom: 50px;
                padding-top: 25px;
                .sign-up-subtitle{
                    text-align: center;
                    color: $color-border;
                    background-color: $color-background;
                    border-top: 2px solid $color-main;
                    border-bottom: 2px solid $color-main;
                    font-size: nth($font-size, 8);
                }
            }
            .sign-up-form-container{
                .sign-up-form{
                    display: block;
                    width: 450px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 55px;
                    margin-left: auto;
                    margin-right: auto;
                    .form-check-container{
                        .form-check{
                            padding-top: 55px;
                        }
                    }
                    .account-form-button{
                        @extend %flex;
                        padding-top: 50px;
                        .my-buttons{
                            margin-left: 0.2rem;
                            background-color: $color-main;
                            color: $color-border;
                            border-color: rgb(12, 12, 13);
                            transition: 1s;
                            &:hover{
                                background-color: $color-background-bootstrap !important;
                                color: black !important;
                                box-shadow: none !important;
                                border-color: $color-main !important;
                                transform: scale(1.05);
                            }
                            &:active{
                                background-color: $color-background-bootstrap !important;
                                color: black !important;
                                box-shadow: none !important;
                                border-color: $color-main !important;
                            }
                            &:focus{
                                background-color: $color-background-bootstrap !important;
                                color: black !important;
                                box-shadow: none !important;
                                border-color: $color-main !important;
                            }
                        }
                    }
                }
            }
        }
    }
}