body{
    header{
        position: sticky;
        top: 0;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.856));
        background-color: rgba(168, 43, 226, 0.911);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        z-index: 3;
        nav{
            .tale-container-fluid{
                @include justify (flex, space-between);
                .tale-navbar-logo{
                    .tale-navbar-brand{
                        img{
                            width: 83%;
                        }
                    }
                    .tale-navbar-button{
                        border-color: $color-main;
                        .navbar-toggler-icon{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                        }
                    }
                }
                .navbar-login{
                    .navbar-login-textbox{
                        @include flex (flex, end, end);
                        flex-direction: column;
                        margin-bottom: 0.2rem;
                        margin-top: -0.5rem;
                    }
                    .navbar-login-buttons{
                        @include flex (flex, end, center);
                        flex-direction: row;
                        margin-right: 0.8rem;
                        .my-buttons{
                            margin-left: 0.2rem;
                            background-color: $color-main;
                            color: $color-border;
                            border-color: rgb(12, 12, 13);
                            transition: 1s;
                            &:hover{
                                background-color: $color-background-bootstrap !important;
                                color: black !important;
                                box-shadow: none !important;
                                border-color: $color-main !important;
                                transform: scale(1.05);
                            }
                            &:active{
                                background-color: $color-background-bootstrap !important;
                                color: black !important;
                                box-shadow: none !important;
                                border-color: $color-main !important;
                            }
                            &:focus{
                                background-color: $color-background-bootstrap !important;
                                color: black !important;
                                box-shadow: none !important;
                                border-color: $color-main !important;
                            }
                        }
                    }
                    .navbar-login-forgot{
                        @include justify (flex, end);
                        color: black;
                        a{
                            color: $color-border;
                            text-decoration: none;
                            font-size: nth($font-size, 5);
                            margin-right: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}
.navbar-dropdowns{
    @include justify (flex, center);
    .navbar-nav{
        li{
            margin-right: 4rem;
            border: 1px solid ;
            border-radius: 6px;
            border-color: $color-main;
            .nav-dropdown-section{
                color: $color-border !important;
            }
            .dropdown-menu.show{
                @include direction (flex, column);
                justify-content: center;
                background-color: rgba(241, 232, 242, 0.7);
                padding-left: 4rem;
                .dropdown-menu-box{
                    margin-top: 0.5rem;
                    .dropdown-item{
                        color: $color-border;
                        background-color: $color-main;
                        text-align: center;
                        margin: 1px solid;
                        border-radius: 6px;
                        transition: 1s;
                        
                        &:active{
                            background-color: $color-background-bootstrap !important;
                            color: black !important;
                            box-shadow: none !important;
                            border-color: $color-main !important;
                        }
                        &:hover{
                            background-color: $color-background-bootstrap !important;
                            color: black !important;
                            box-shadow: none !important;
                            border-color: $color-main !important;
                            transform: scale(1.05);
                            border-radius: 6px !important;
                        }
                    }
                }
            }
        }
    }
}