main{
    .index-main-history-section{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        #history{
            @extend %anchor;
        }
        .index-main-history-container{
            background-image:  linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0)), url(../img/background-home-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;
            .index-history-content-left {
                @extend %flex;
                flex-direction: column;
                color: beige;
                font-size: nth($font-size, 6);
                padding-left: 20px;
                .index-history-title{
                    padding-top: 25px;
                }
                .index-history-text{
                    font-size: nth($font-size, 7);
                }
                .index-history-video{
                    padding-bottom: 15px;
                }
            }
            .index-history-content-right{
                @extend %flex;
                width: 100%;
                img{
                    width: 100%;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    .index-main-world-section{
        position: relative;
        #world{
            @extend %anchor;
        }
        .index-main-world-container {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-world-001.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;
            .index-world-content-left{
                @extend %flex;
                width: 100%;
                img{
                    width: 100%;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            .index-world-content-right {
                @extend %flex;
                flex-direction: column;
                flex-wrap: wrap;
                color: beige;
                font-size: nth($font-size, 6);
                margin-left: 20px;
                margin-right: 20px;
                .index-world-title{
                    padding-top: 15px;
                }
                .index-world-video{
                    padding-bottom: 15px;
                    margin-top: 50px;
                }
            }
        }
    }
    .index-main-monster-section{
        position: relative;
        #monsters{
            @extend %anchor;
        }
        .index-main-monster-container {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;
            .index-monster-content-left {
                @extend %flex;
                flex-direction: column;
                color: beige;
                font-size: nth($font-size, 6);
                margin-left: 20px;
                margin-right: 20px;
                .index-monster-title{
                    padding-top: 15px;
                }
                .index-monster-video {
                    margin-top: 50px;
                    padding-bottom: 15px;
                }
            }
            .index-monster-content-right{
                @extend %flex;
                width: 100%;
                img{
                    width: 100%;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    .index-main-heroes-section{
        position: relative;
        #heroes{
            @extend %anchor;
        }
        .index-main-heroes-container {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-home-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;
            .index-heroes-content-left{
                @extend %flex;
                width: 100%;
                img{
                    width: 100%;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            .index-heroes-content-right {
                @extend %flex;
                flex-direction: column;
                color: beige;
                font-size: nth($font-size, 6);
                margin-left: 20px;
                margin-right: 20px;
                .index-heroes-title{
                    padding-top: 15px;
                }
                .index-heroes-video{
                    padding-bottom: 15px;
                    margin-top: 50px;
                }
            }
        }
    }
}