main{
    .news-main-container{
        background-image: url(../img/topbg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        .news-main-title{
            text-align: center;
            color: $color-main;
            font-size: nth($font-size, 10);
            margin: 0;
            font-family: fantasy;
        }
    }
    .news-nav-tabs-section{
        @include direction (flex, column);
        align-items: end;
        padding-top: 40px;
        .tale-pill-tab{
            padding-right: 3rem;
            .nav-item{
                .nav-link{
                    color: black;
                }
                .nav-link.active{
                    background-color: $color-main !important;
                    border-radius: 10px;
                    padding: 4px 10px 4px 10px;
                }
            }
        }
        .tab-content{
            div{
                .news-grid-container-events{
                    width: 100%;
                    display: grid;
                    padding: 20px;
                    gap: 5px;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: auto auto auto;
                    grid-template-areas:
                    "enews01img enews02img enews03img"
                    "event01 event02 event03"
                    "etitle01 etitle02 etitle03"
                    ;
                    section{
                        .news-events-journey{
                            .news-events-modal{
                                .modal-button-img{
                                    .journey-modal{
                                        grid-area: enews01img;
                                        width: 100%;
                                        &:hover{
                                            box-shadow: 0px 0px 14px 0px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .modal-button-data{
                                    .epatch01{
                                        grid-area: event01;
                                        position: relative;
                                        top: -15px;
                                        left: 45%;
                                        width: 90px;
                                        height: 90px;
                                        border-radius: 10px;
                                        background-color: $color-main;
                                        color: $color-border;
                                        font-size: nth($font-size, 4);
                                        letter-spacing: 1px;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        text-align: center;
                                        font-weight: 600;
                                        padding: 3px;
                                    }
                                    .etitle01{
                                        grid-area: etitle01;
                                        display: block;
                                        max-width: 100%;
                                        color: black;
                                        font-size: nth($font-size, 8);
                                        font-weight: 500;
                                        letter-spacing: 0.25px;
                                        text-align: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                                .tale-modal-container{
                                    div{
                                        .modal-content{
                                            .modal-header{
                                                @extend %flex;
                                                flex-direction: column;
                                            }
                                            .modal-body{
                                                @extend %flex;
                                                flex-direction: column;
                                                img{
                                                    width: 80%;
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    section{
                        .news-events-gatekeeper{
                            .news-events-modal{
                                .modal-button-img{
                                    .gatekeeper-modal{
                                        grid-area: enews02img;
                                        width: 100%;
                                        &:hover{
                                            box-shadow: 0px 0px 14px 0px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .modal-button-data{
                                    .epatch02{
                                        grid-area: event02;
                                        position: relative;
                                        top: -15px;
                                        left: 45%;
                                        width: 90px;
                                        height: 90px;
                                        border-radius: 10px;
                                        background-color: $color-main;
                                        color: $color-border;
                                        font-size: nth($font-size, 4);
                                        letter-spacing: 1px;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        text-align: center;
                                        font-weight: 600;
                                        padding: 3px;
                                    }
                                    .etitle02{
                                        grid-area: etitle02;
                                        display: block;
                                        max-width: 100%;
                                        color: black;
                                        font-size: nth($font-size, 8);
                                        font-weight: 500;
                                        letter-spacing: 0.25px;
                                        text-align: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                                .tale-modal-container{
                                    div{
                                        .modal-content{
                                            .modal-header{
                                                @extend %flex;
                                                flex-direction: column;
                                            }
                                            .modal-body{
                                                @extend %flex;
                                                flex-direction: column;
                                                img{
                                                    width: 80%;
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    section{
                        .news-events-training{
                            .news-events-modal{
                                .modal-button-img{
                                    .training-modal{
                                        grid-area: enews03img;
                                        width: 100%;
                                        &:hover{
                                            box-shadow: 0px 0px 14px 0px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .modal-button-data{
                                    .epatch03{
                                        grid-area: event03;
                                        position: relative;
                                        top: -15px;
                                        left: 45%;
                                        width: 90px;
                                        height: 90px;
                                        border-radius: 10px;
                                        background-color: $color-main;
                                        color: $color-border;
                                        font-size: nth($font-size, 4);
                                        letter-spacing: 1px;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        text-align: center;
                                        font-weight: 600;
                                        padding: 3px;
                                    }
                                    .etitle03{
                                        grid-area: etitle03;
                                        display: block;
                                        max-width: 100%;
                                        color: black;
                                        font-size: nth($font-size, 8);
                                        font-weight: 500;
                                        letter-spacing: 0.25px;
                                        text-align: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                                .tale-modal-container{
                                    div{
                                        .modal-content{
                                            .modal-header{
                                                @extend %flex;
                                                flex-direction: column;
                                            }
                                            .modal-body{
                                                @extend %flex;
                                                flex-direction: column;
                                                img{
                                                    width: 80%;
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    section{
                        .news-patch-pneuma{
                            .news-patch-modal{
                                .modal-button-img{
                                    .pneuma-modal{
                                        grid-area: pnews01img;
                                        width: 100%;
                                        &:hover{
                                            box-shadow: 0px 0px 14px 0px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .modal-button-data{
                                    .ppatch01{
                                        grid-area: patch01;
                                        position: relative;
                                        top: -15px;
                                        left: 45%;
                                        width: 90px;
                                        height: 90px;
                                        border-radius: 10px;
                                        background-color: $color-main;
                                        color: $color-border;
                                        font-size: nth($font-size, 4);
                                        letter-spacing: 1px;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        text-align: center;
                                        font-weight: 600;
                                        padding: 3px;
                                    }
                                    .ptitle01{
                                        grid-area: ptitle01;
                                        display: block;
                                        max-width: 100%;
                                        color: black;
                                        font-size: nth($font-size, 8);
                                        font-weight: 500;
                                        letter-spacing: 0.25px;
                                        text-align: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                                .tale-modal-container{
                                    div{
                                        .modal-content{
                                            .modal-header{
                                                @extend %flex;
                                                flex-direction: column;
                                            }
                                            .modal-body{
                                                @extend %flex;
                                                flex-direction: column;
                                                img{
                                                    width: 80%;
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    section{
                        .news-patch-aie{
                            .news-patch-modal{
                                .modal-button-img{
                                    .aie-modal{
                                        grid-area: pnews02img;
                                        width: 100%;
                                        &:hover{
                                            box-shadow: 0px 0px 14px 0px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .modal-button-data{
                                    .ppatch02{
                                        grid-area: patch02;
                                        position: relative;
                                        top: -15px;
                                        left: 45%;
                                        width: 90px;
                                        height: 90px;
                                        border-radius: 10px;
                                        background-color: $color-main;
                                        color: $color-border;
                                        font-size: nth($font-size, 4);
                                        letter-spacing: 1px;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        text-align: center;
                                        font-weight: 600;
                                        padding: 3px;
                                    }
                                    .ptitle02{
                                        grid-area: ptitle02;
                                        display: block;
                                        max-width: 100%;
                                        color: black;
                                        font-size: nth($font-size, 8);
                                        font-weight: 500;
                                        letter-spacing: 0.25px;
                                        text-align: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                                .tale-modal-container{
                                    div{
                                        .modal-content{
                                            .modal-header{
                                                @extend %flex;
                                                flex-direction: column;
                                            }
                                            .modal-body{
                                                @extend %flex;
                                                flex-direction: column;
                                                img{
                                                    width: 80%;
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    section{
                        .news-patch-laboom{
                            .news-patch-modal{
                                .modal-button-img{
                                    .laboom-modal{
                                        grid-area: pnews03img;
                                        width: 100%;
                                        &:hover{
                                            box-shadow: 0px 0px 14px 0px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .modal-button-data{
                                    .ppatch03{
                                        grid-area: patch03;
                                        position: relative;
                                        top: -15px;
                                        left: 45%;
                                        width: 90px;
                                        height: 90px;
                                        border-radius: 10px;
                                        background-color: $color-main;
                                        color: $color-border;
                                        font-size: nth($font-size, 4);
                                        letter-spacing: 1px;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        text-align: center;
                                        font-weight: 600;
                                        padding: 3px;
                                    }
                                    .ptitle03{
                                        grid-area: ptitle03;
                                        display: block;
                                        max-width: 100%;
                                        color: black;
                                        font-size: nth($font-size, 8);
                                        font-weight: 500;
                                        letter-spacing: 0.25px;
                                        text-align: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                                .tale-modal-container{
                                    div{
                                        .modal-content{
                                            .modal-header{
                                                @extend %flex;
                                                flex-direction: column;
                                            }
                                            .modal-body{
                                                @extend %flex;
                                                flex-direction: column;
                                                img{
                                                    width: 80%;
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}